.active > a{
  color: red;
}

.owo{
  border: 5px solid purple;
}

.c_image{
  width: 50px;
  height: 50px;
}

.c_me{
  align-content: left;
}

.c_them{
  align-content: right;
  text-align: right;
}

.c_profile_image{
  height: 50px;
  width: 50px;
  position: relative;
  padding: 0;
  margin: 0;
}

.c_title{
  text-align: center;
}